.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.library-body {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 16px;
}

.image-card {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 16px;
  cursor: pointer;
}

.image-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-card:hover .image-fade {
  opacity: 1;
}

.image-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.image-details {
  display: none;
  padding: 16px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

.image-details p {
  color: #000;
  font-weight: bold;
}

.show-details {
  display: flex;  
}

.search-form {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  align-items: center;
}

label {
  margin-right: 5px;
  color: #fff;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 150px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
