.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--secondary-bg);
    padding: var(--spacing-lg);
    border-radius: 8px;
    position: relative; /* Adicionado para posicionamento absoluto dos botões */
    max-width: 80vw; /* Ajustado para ocupar mais espaço no desktop */
    max-height: 90vh; /* Ajustado para ocupar mais espaço no desktop */
    display: flex; /* Added flex to manage content */
    flex-direction: column; /* Stack content vertically */
    overflow-y: auto; /* Adicionado para permitir rolagem vertical */
}

.modal-close-button {
    position: absolute;
    top: var(--spacing-sm);
    right: var(--spacing-sm);
    background: none;
    border: none;
    color: var(--primary-text);
    font-size: 2em;
    cursor: pointer;
    z-index: 10; /* Para garantir que fique acima da imagem */
}

.modal-content img {
    max-width: 100%;
    height: auto; /* Ajustado para manter a proporção */
    display: block;
    margin: auto;
    flex-shrink: 0; /* Prevent image from shrinking */
}

/* Estilo para o botão de favoritos no modal */
.modal-content .favorite-button {
    position: absolute;
    top: var(--spacing-sm);
    left: var(--spacing-sm); /* Posicionado no canto superior esquerdo */
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
    color: var(--nasa-white);
    z-index: 10; /* Para garantir que fique acima da imagem */
    transition: background-color 0.2s ease;
}

.modal-content .favorite-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content .favorite-button.favorited {
    color: var(--nasa-red); /* Cor para favoritado */
}

.image-view-details {
    padding: var(--spacing-md);
    word-wrap: break-word; /* Garante que o texto quebre a linha */
}
