.image-day-container {
    padding: var(--spacing-lg);
}

.image-day-title {
    font-size: 2em;
    color: var(--primary-text);
    margin-bottom: var(--spacing-lg);
    text-align: center;
}

.image-card {
    background-color: var(--secondary-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: var(--spacing-lg);
    position: relative; /* Adicionado para posicionamento absoluto do botão */
}

.image-card img {
    width: 100%;
    height: auto;
}

.image-details {
    padding: var(--spacing-lg);
}

.image-title {
    font-size: 1.5em;
    color: var(--accent-color);
    margin-bottom: var(--spacing-sm);
}

.image-explanation {
    font-size: 1em;
    color: var(--secondary-text);
    word-wrap: break-word; /* Garante que o texto quebre a linha */
}

/* Estilo para o botão de favoritos nos cards */
.image-card .favorite-button {
    position: absolute;
    top: var(--spacing-sm);
    left: var(--spacing-sm); /* Posicionado no canto superior esquerdo */
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2em;
    color: var(--nasa-white);
    z-index: 10; /* Para garantir que fique acima da imagem */
    transition: background-color 0.2s ease;
}

.image-card .favorite-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.image-card .favorite-button.favorited {
    color: var(--nasa-red); /* Cor para favoritado */
}

.search-form {
    display: flex;
    gap: var(--spacing-sm);
    margin-bottom: var(--spacing-lg);
    flex-wrap: wrap;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: var(--spacing-xs);
    color: var(--secondary-text);
}

.form-group input,
.form-group select {
    background-color: var(--secondary-bg);
    border: 1px solid var(--border-color);
    color: var(--primary-text);
    padding: var(--button-padding-y) var(--button-padding-x);
    border-radius: var(--button-border-radius);
}

.date-select-group {
    display: flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
}

.date-select-group select {
    flex: 1;
    min-width: 80px; /* Adjust as needed */
}

.submit-button {
    background-color: var(--accent-color);
    color: var(--nasa-white);
    border: none;
    padding: var(--button-padding-y) var(--button-padding-x);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    align-self: flex-end;
}

@media (max-width: 768px) {
    .image-day-title {
        font-size: 1.5em;
    }

    .search-form {
        flex-direction: column;
        align-items: stretch;
    }

    .submit-button {
        width: 100%;
    }
}