a {
    text-decoration: none !important;
}

.btn-body{
    height: 80px;
    width: 80px;
    border-radius: 10px 0px 0px 10px;
    color: #ffffff7f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.2s ease;
}

.btn-body.active{
    background-color: #c23d3b;
    color: white;
    transform: scale(1.05);
}

.btn-body:hover{
    color: #fff;
}
.btn-title{
    margin:  4px auto;
    font-weight: 600;
    font-size: 12px;
}